@import './base.css';

#app {
  max-width: 900px;
  margin: 0 auto;
}

button {
    background: var(--clr-background-button);
    color: var(--clr-text-button);
    border: none;
    outline: none;
    border-radius: .75rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

@font-face {
  font-family: "Virgil";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Virgil"), url("fonts/Virgil/Virgil.woff2") format("woff2");
}